.weather-title {
    font-size: 2.5rem;
    margin: 0;
}

.weather-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    height: 18rem;
}

.weather-item {
    width: 10rem;
    border: 1px solid #3c3c3c;
}

.weather-day {
    background-color: #ffe96d;
    color: #3c3c3c;
}

.weather-night {
    background-color: dimgray;
    color: snow;
}